mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dim-darker-50);
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mobile-menu-button {
  font-size: 18px;
  height: 100%;
  padding: var(--pad-val);
  padding-top: calc(var(--pad-val) - 2px);
  padding-left: calc(var(--pad-deg) + 20px);
  padding-right: calc(var(--pad-deg) + 20px);
  cursor: pointer;
  background-color: var(--dim-darker);
  transition: background-color 0.3s ease-in-out;
  clip-path: polygon(var(--pad-deg) 0, 100% 0, 100% 100%, 0 100%);
  margin-left: -40px;
}

#mobile-menu-button:hover {
  background-color: var(--dim-darker-100);
}

#mobile-menu-screen {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 72px;
  left: 0;
  right: -17px;
  bottom: 0;
  z-index: -100;
  background-color: var(--dim);
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
  display: grid;
  align-content: start;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  overflow-y: scroll;
}

#mobile-menu-screen.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 100;
  transition: opacity 0.5s ease-in-out;
}

.mobile-link {
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--dim-darker-50);
  clip-path: polygon(var(--pad-deg) 0, 100% 0, calc(100% - var(--pad-deg)) 100%, 0 100%);
}

@media (min-width: 1000px) {
  mobile-navbar {
    display: none;
  }
}