/* INFO: Color Pallete */
:root {
  --background: #e7edf5;
  --font: #23384e;
  --desc: #425466;

  --lighter: #d9e9ff;
  --light: #ddeaff;
  --dim: #caddff;
  --dim-dark: #c4d8ff;
  --dim-darker: #acc7ff;
  --dim-darker-50: #9abfff;
  --dim-darker-100: #7babfe;
  --dim-darker-200: #5090ff;

  --icon: #6d88b5;
  --icon-bc: #dbe6f7;

  --small-card: var(--icon-bc);

  --button: #7f9fd4;
  --button-enabled: #5f84c4;

  --desktop-navbar: #d6e2f0;
  --desktop-navicon: #9db2d8;

  --pad-val: 25px;
  --pad-deg: calc(var(--pad-val) + 10px);
}

* {
  caret-color: transparent;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--font);
  text-decoration: none;
}

body {
  margin: 0;
  color: var(--font);
  background-color: var(--background);
  font-family: "Google";
}

/* INFO: Navigation Bar */

nav-constructor {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-item {
  font-size: 18px;
  padding: var(--pad-val);
  padding-left: calc(var(--pad-deg) + 20px);
  padding-right: calc(var(--pad-deg) + 20px);
  cursor: pointer;
  background-color: var(--dim);
  transition: background-color 0.3s ease-in-out;
  clip-path: polygon(var(--pad-deg) 0, 100% 0, calc(100% - var(--pad-deg)) 100%, 0 100%);
  margin-left: -40px;
}

.nav-item-first {
  font-size: 18px;
  padding: var(--pad-val);
  padding-left: var(--pad-deg);
  padding-right: calc(var(--pad-deg) + 20px);
  background-color: var(--dim-darker-100);
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--pad-deg)) 100%, 0 100%);
}

.nav-item-first:hover {
  background-color: var(--dim-darker-200);
}

.nav-item:hover {
  font-weight: bold;
  background-color: var(--dim-darker);
}

/* INFO: Home Page */
#home {
  display: flex;
  overflow: hidden;
}

welcome-card-container {
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: center; /* Centers vertically */
  background-color: var(--light);
  z-index: -10;
  transform: skewX(-25deg);
  margin-left: -11vw;
}

welcome-card {
  display: grid;
  margin-left: 17rem;
  transform: skew(25deg);
}

slash-container {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  margin-left: 40px;
  transform: skewX(-25deg);
  z-index: -10;
}

.welcome-card-title {
  font-size: 3.5em;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: clamp(320px, 55vw, 65ch);
  padding-right: clamp(1rem, 6vw, 8rem);
}

welcome-card-desc {
  font-size: 22px;
  max-width: clamp(320px, 55vw, 65ch);
  padding-right: clamp(1rem, 6vw, 8rem);
}

/* INFO: About us page */
#philosophy {
  background-color: var(--dim-darker);
}

.au-header {
  margin: 0;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

au-card-list {
  background-color: var(--dim-darker);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  grid-auto-rows: min-content; /* Row height fits content */
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 100px;
}

au-card {
  display: grid;
  background-color: var(--dim-dark);
  align-content: start;
  margin: 25px;
  padding: 50px;
  padding-right: clamp(1rem, 6vw, 8rem);
  clip-path: polygon(var(--pad-deg) 0, 100% 0, calc(100% - var(--pad-deg)) 100%, 0 100%);
}

au-card-header {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

au-card-header.active {
  opacity: 1;
  transform: translateY(0);
}

au-card-content {
  font-size: 18px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

au-card-content.active {
  opacity: 1;
  transform: translateY(0);
}


/* INFO: Footer */
footer {
  background-color: var(--dim-darker);
  padding: 2em;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

social-media-list {
  display: flex;
  align-items: center;
}

/* INFO: Projects */
.pj-header {
  margin: 0;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

/* INFO: Responsive Design Code */
@media (max-width: 1400px) {
  welcome-card {
    margin-left: 12rem;
  }
}

@media (max-width: 1200px) {
  welcome-card {
    margin-left: 10rem;
  }

  .welcome-card-title {
    font-size: 2.5em;
  }

  welcome-card-desc {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  #home {
    display:block;
    overflow: hidden;
    width: 100%;
  }

  au-card-list {
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }

  welcome-card-container {
    background-color: initial;
    z-index: 5;
    transform: skewX(0deg);
    margin: 0;
    width: 100%;
  }

  welcome-card {
    display: inline;
    margin: 0;
    transform: skewX(0deg);
    align-items: center; /* Centers vertically */
    background-color: var(--light);
    padding: 30px;
  }

  slash-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -30;
    margin-left: 0;
    scale: 2;
  }

  footer {
    background-color: var(--dim-darker);
    padding: 2em;
    font-size: 18px;
    display: grid;
  }

  nav-constructor {
    display: none;
  }
}