/* INFO: Home Page */
#home {
  display: flex;
  overflow: hidden;
}

welcome-card-container {
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: center; /* Centers vertically */
  background-color: var(--light);
  z-index: -10;
  transform: skewX(-25deg);
  margin-left: -11vw;
}

welcome-card {
  display: grid;
  margin-left: 17rem;
  transform: skew(25deg);
}

slash-container {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  margin-left: 40px;
  transform: skewX(-25deg);
  z-index: -10;
}

.welcome-card-title {
  font-size: 3.5em;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: clamp(320px, 55vw, 65ch);
  padding-right: clamp(1rem, 6vw, 8rem);
}

welcome-card-desc {
  font-size: 22px;
  max-width: clamp(320px, 55vw, 65ch);
  padding-right: clamp(1rem, 6vw, 8rem);
}

/* INFO: About us page */
#philosophy {
  background-color: var(--dim-darker);
}

.au-header {
  margin: 0;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

au-card-list {
  background-color: var(--dim-darker);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  grid-auto-rows: min-content; /* Row height fits content */
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 100px;
}

au-card {
  --au-card-pad-deg: calc(var(--pad-degree));
  display: grid;
  background-color: var(--dim-dark);
  align-content: start;
  margin: 25px;
  padding: 50px;
  padding-left: 70px;
  padding-right: clamp(4rem, 6vw, 8rem);
  clip-path: polygon(var(--au-card-pad-deg) 0, 100% 0, calc(100% - var(--au-card-pad-deg)) 100%, 0 100%);
}

au-card-header {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

au-card-header.active {
  opacity: 1;
  transform: translateY(0);
}

au-card-content {
  font-size: 18px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

au-card-content.active {
  opacity: 1;
  transform: translateY(0);
}

/* INFO: Projects */
#projects {
  padding-left: 15vw;
  padding-right: 15vw;
  background-color: var(--light);
  padding-bottom: 100px;
}

.pj-header {
  margin: 0;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

#pj-card-list {
  display: grid;
  margin: 30px;
}

.pj-card {
  display: flex;
  background-color: var(--dim);
  margin-top: 25px;
  margin-bottom: 25px;
  clip-path: polygon(var(--pad-degree) 0, 100% 0, calc(100% - var(--pad-degree)) 100%, 0 100%);
}

pj-card-blade {
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  clip-path: polygon(var(--pad-degree) 0, 100% 0, calc(100% - var(--pad-degree)) 100%, 0 100%);
}

pj-card-content {
  display: grid;
  padding: 30px;
}

pj-card-content-header {
  font-weight: bold;
  font-size: 25px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

pj-card-content-header.active {
  opacity: 1;
  transform: translateY(0);
}

pj-card-content-desc {
  font-size: 20px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

pj-card-content-desc.active {
  opacity: 1;
  transform: translateY(0);
}

pj-see-more-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pj-see-more-button {
  --post-button-clip: 15px;
  background-color: var(--dim-darker);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  clip-path: polygon(var(--post-button-clip) 0, 100% 0, calc(100% - var(--post-button-clip)) 100%, 0 100%);
}

/* INFO: Responsive Design Code */
@media (max-width: 1400px) {
  welcome-card {
    margin-left: 12rem;
  }
}

@media (max-width: 1200px) {
  welcome-card {
    margin-left: 10rem;
  }

  .welcome-card-title {
    font-size: 2.5em;
  }

  welcome-card-desc {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  #home {
    display:block;
    overflow: hidden;
    width: 100%;
  }

  au-card-list {
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }

  welcome-card-container {
    background-color: initial;
    z-index: 5;
    transform: skewX(0deg);
    margin: 0;
    width: 100%;
  }

  welcome-card {
    display: inline;
    margin: 0;
    transform: skewX(0deg);
    align-items: center; /* Centers vertically */
    background-color: var(--light);
    padding: 30px;
  }

  slash-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -30;
    margin-left: 0;
    scale: 2;
  }

  #projects {
    padding-left: 20px;
    padding-right: 20px;
  }

  nav-constructor {
    display: none;
  }
}

@media (max-width: 600px) {
  #pj-card-list {
    margin: 0;
  }

  au-card-list {
    grid-template-columns: 1fr;
    padding-left: 5px;
    padding-right: 5px;
  }
}