:root {
  --au-card-pad-deg: calc(var(--pad-degree));
}

#home {
  min-height: 100vh;
}

slash-container {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  margin-left: 40px;
  transform: skewX(-25deg);
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  scale: 1.8;
  justify-content: center;
  align-items: center;
}

slash-blade {
  display: block;
  width: 3em;
  height: calc(100vh);
  opacity: 0.7;
  z-index: 30;
}

.header {
  margin: 0;
  padding-top: calc(74px + 50px);
  background-color: var(--dxrp-primary-200);
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
}

code {
  background-color: var(--dxrp-primary-600);
  padding: 2px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  background-color: var(--dxrp-primary-300);
  padding: 15px;
  padding-right: 50px;
  margin: 0;
  width: fit-content;
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--au-card-pad-deg)) 100%, 0 100%);
}

h2 {
  background-color: var(--dxrp-primary-300);
  padding: 15px;
  padding-right: 50px;
  margin: 0;
  width: fit-content;
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--au-card-pad-deg)) 100%, 0 100%);
}

.header-box {
  background-color: var(--dxrp-primary-75);
  padding: 15px;
  padding-right: 50px;
  width: 4em;
  display: block;
  clip-path: polygon(var(--au-card-pad-deg) 0, 100% 0, 100% 100%, 0 100%);
}

.time-data-section {
  background-color: var(--dxrp-primary-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

#online_data {
  --au-card-pad-deg: 20px;
  background-color: var(--dxrp-primary-700);
  padding: 15px;
  padding-right: 50px;
  margin: 0;
  width: fit-content;
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--au-card-pad-deg)) 100%, 0 100%);
}

#exp_data {
  --au-card-pad-deg: 20px;
  background-color: var(--dxrp-primary-700);
  padding: 15px;
  padding-left: 50px;
  margin: 0;
  width: fit-content;
  clip-path: polygon(var(--au-card-pad-deg) 0, 100% 0, 100% 100%, 0 100%);
}

.tech-stack-section ptf-content-header {
  display: flex;
  background-color: var(--dxrp-primary-500);
}

.tech-stack-section h3 {
  text-align: end;
  padding: 15px;
  padding-left: 50px;
  background-color: var(--dxrp-primary-550);
  clip-path: polygon(var(--au-card-pad-deg) 0, 100% 0, 100% 100%, 0 100%);
  margin: 0;
  justify-content: center;
}

.tech-stack-section .header-left {
  text-align: end;
  padding: 15px;
  padding-right: 50px;
  padding-left: 15px;
  background-color: var(--dxrp-primary-550);
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--au-card-pad-deg)) 100%, 0 100%);
  margin: 0;
  justify-content: center;
}

.tech-stack-section ul {
  background-color: var(--dxrp-primary-650);
  margin: 0;
  padding: 10px;
}

.tech-stack-section li {
  margin: 10px;
  margin-left: 20px;
}

.tech-stack-section code {
  background-color: var(--dxrp-primary-800);
}

.what-i-know-section {
  background-color: var(--dxrp-primary-500);
  padding-top: 15px;
}

.what-i-know-section table {
  background-color: var(--dxrp-primary-650);
  margin-top: 15px;
  overflow: scroll;
  border: 0;
  border-collapse: collapse; /* Removes all spacing between cells */
}

.what-i-know-section td {
  padding: 15px;
  word-wrap: break-word;
}

.what-i-know-section .td-right {
  background-color: var(--dxrp-primary-650);
}

.what-i-know-section .td-left {
  background-color: var(--dxrp-primary-600);
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--au-card-pad-deg)) 100%, 0 100%);
}

.what-i-know-section text {
  margin: 15px;
}

.normal-section {
  background-color: var(--dxrp-primary-450);
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  word-wrap: break-word;
}

@media (max-width: 1100px) {
  .normal-section {
    grid-template-columns: 1fr;
  }

  .time-data-section {
    flex-direction: column;
    align-items:normal;
  }

  #online_data {
    background-color: var(--dxrp-primary-600);
    clip-path: initial;
    padding-right: 15px;
    padding-bottom: 0;
  }

  #exp_data {
    background-color: var(--dxrp-primary-600);
    clip-path: initial;
    padding-left: 15px;
    padding-top: 0;
  }

  .time-data-section {
    flex-direction: column;
    align-items:normal;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }
  
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1000px) {
  .what-i-know-section tr {
    display: flex;
    flex-direction: column;
  }

  .what-i-know-section .td-left {
    font-weight: bold;
    font-size: 18px;
  }
}


@media (max-width: 600px) {
  slash-container {
    scale: 3.5;
  }
}